apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
spec:
  ports:
    - protocol: TCP
      name: 'rabbitmq-ui'
      port: 15672
      targetPort: 15672
    - protocol: TCP
      name: 'rabbitmq-amqp'
      port: 5672
      targetPort: 5672
    - protocol: TCP
      name: 'rabbitmq-amqp-80'
      port: 80
      targetPort: 5672
  selector:
    app: rabbitmq
  type: ClusterIP
